.boy__block {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
}
.boy__wrapper {
  width: 607px;
}
.boy__btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #ff6652;
  padding: 15px 20px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  transition: all ease 0.5s;
}
.boy__btn:hover {
  background-color: #ff6652;
  color: white;
  transition: all ease 0.5s;
  transform: translateY(-5px);
  box-shadow: 1px 1px 10px 1px red;
}
.boy__text {
  font-weight: 700;
  font-size: 65px;
  line-height: 75px;
  color: #0a033c;
  margin-top: 15px;
}
.boy__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #5d5a6f;
  margin-top: 30px;
}
.boy__content {
  margin-top: 40px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 5px 22px;
  position: relative;
}
.boy__aside {
  display: flex;
  align-items: center;
}
.boy__hr {
  display: inline-block;
  width: 1px;
  height: 30px;
  background: #dadada;
  margin: 0 25px;
}
.boy__list {
  padding: 5px;
  width: 120px;
  outline: none;
  border: none;
}
.boy_list {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: rgba(93, 90, 111, 0.6);
}
.boy__button img {
  width: 24px;
  height: 24px;
}
.boy__inp {
  display: none;
}
.boy__button {
  padding: 13px 30px;
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #9c4df4;
  border-radius: 10px;
  border: none;
  transition: all ease 0.5s;
}
.boy__button:hover {
  box-shadow: 1px 1px 10px 1px #9c4df4;
  cursor: pointer;
  transition: all ease 0.5s;
}
.boy_bg {
  width: 518px;
  height: 669px;
  object-fit: contain;
  background-image: url("../img/icons/bg-boy.png");
}
.boy__img {
  width: 418px;
  height: 648px;
  margin-left: 50px;
}
.box-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: white;
  box-shadow: 0px 25px 70px rgba(10, 3, 60, 0.15);
  border-radius: 10px;
  position: relative;
  top: -670px;
  animation: square 2s linear 1s infinite alternate backwards running;
}
.box-img2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: white;
  box-shadow: 0px 25px 70px rgba(10, 3, 60, 0.15);
  border-radius: 10px;
  position: relative;
  top: -440px;
  left: -40px;
  animation: square 2s linear 1s infinite alternate backwards running;
}
.box-img3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: white;
  box-shadow: 0px 25px 70px rgba(10, 3, 60, 0.15);
  border-radius: 10px;
  position: relative;
  top: -800px;
  left: 400px;
  animation: square 2s linear 1s infinite alternate backwards running;
}
.box-img4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: white;
  box-shadow: 0px 25px 70px rgba(10, 3, 60, 0.15);
  border-radius: 10px;
  position: relative;
  top: -370px;
  left: 500px;
  animation: square 2s linear 1s infinite alternate backwards running;
}
@keyframes square {
  0% {
    margin-right: 10px;
  }
  25% {
  }
  50% {
    margin-top: 10px;
  }
  75% {
  }
  100% {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 450px) {
  .container {
    width: 90%;
    max-width: 450px;
  }
  .boy__block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 90px;
  }
  .boy__btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    padding: 15px;
  }
  .boy__text {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    width: 299px;
    margin-top: 15px;
  }
  .boy__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 20px;
    width: 333px;
  }
  .boy__content {
    width: 335px;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
  }
  .boy__list {
    margin-bottom: 10px;
    width: 290px;
    padding: 17px 20px;
    background: #ffffff;
    border-radius: 5px;
  }
  .boy_list {
    display: none;
  }
  .boy__hr {
    display: none;
  }
  .boy__inp {
    display: block;
    background: #ffffff;
    border-radius: 5px;
    width: 390px;
    padding: 17px 20px;
    border: none;
    outline: none;
    font-weight: 500;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 16px;
    color: rgba(93, 90, 111, 0.6);
  }
  .boy__button {
    width: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .boy_bg {
    margin-top: 50px;
    width: 323px;
    height: 339px;
  }
  .boy__img {
    width: 323px;
    height: 339px;
  }
  .box-img {
    position: relative;
    top: -350px;
    left: -10px;
    width: 39px;
    height: 39px;
  }
  .box-img img {
    width: 24px;
    height: 24px;
  }
  .box-img2 {
    position: relative;
    top: -200px;
    left: -10px;
    width: 39px;
    height: 39px;
  }
  .box-img2 img {
    width: 24px;
    height: 24px;
  }
  .box-img3 {
    position: relative;
    top: -380px;
    left: 290px;
    width: 39px;
    height: 39px;
  }
  .box-img3 img {
    width: 24px;
    height: 24px;
  }
  .box-img4 {
    position: relative;
    top: -200px;
    left: 290px;
    width: 39px;
    height: 39px;
  }
  .box-img4 img {
    width: 24px;
    height: 24px;
  }
}
