.header__fixed {
  background-color: white;
  padding-bottom: 20px;
  width: 100vw;
  margin: 0 auto;
  padding-top: 60px;
  position: fixed;
  top: 0;
  z-index: 10000;
  transition: all ease 0.5s;
}
.header__block {
  width: 1240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  transition: all ease 0.5s;
}
.header__logo {
  width: 114px;
  height: 30px;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__list li {
  margin: 0 20px;
  display: flex;
  align-items: center;
}
.header__list a {
  padding: 8px 12px;
  color: #0a033c;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.dropdown__title {
  position: relative;
}
.header__vector {
  transform: rotate(180deg);
  transition: all ease 0.3s;
}
.dropdown__title:hover .header__vector {
  transform: rotate(360deg);
  transition: all ease 0.3s;
}
.dropdown__title:hover .dropdown {
  transition: all ease 0.3s;
  transform: translateY(-30px);
  visibility: visible;
}
.dropdown {
  position: absolute;
  transform: translateY(40px);
  top: 60px;
  left: 13px;
  background-color: white;
  box-shadow: 3px 3px 20px 1px white;
  width: 150px;
  border-radius: 8px;
  visibility: hidden;
}

.dropdown li {
  padding: 10px;
  margin: 0;
  cursor: pointer;
  font-weight: 500;
}
.dropdown li:hover {
  background-color: #ff6652;
  color: white;
  opacity: 1;
}
.header__bottom {
  position: relative;
  left: 0;
}
.parag {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  height: 3px;
  background-color: red;
  transform: scale(0);
  transition: all ease 0.5s;
}
.header__bottom:hover .parag {
  transform: scale(0.8);
  transition: all ease 0.3s;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__right-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__right__list {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  color: #0a033c;
}
.header__right__list:hover {
  color: #ff6652;
}
.header__right__img {
  cursor: pointer;
}
.scroll {
  position: absolute;
  left: 20px;
  top: 800px;
  padding: 15px;
  border-radius: 50%;
  background-color: #9c4df4;
  border: none;
  visibility: hidden;
}
.scroll img {
  width: 40px;
  height: 40px;
}
.add {
  cursor: pointer;
  position: fixed;
  top: 85vh;
  left: 1vw;
  background-color: #9c4df4;
  visibility: visible;
  transition: all ease 0.3s;
  opacity: 0.5;
}
.add:hover {
  opacity: 1;
  box-shadow: 1px 1px 5px 1 #9c4df4;
}
.header-burger {
  width: 30px;
  height: 30px;
}
.header__burger {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__menu {
  display: none;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  color: #0a033c;
}
.crost {
  display: none;
}
.header-burger {
  display: none;
}
.modal {
  width: 70vw;
  height: 80vh;
  background: #ffffff;
  border-radius: 15px;
  z-index: 10000;
  position: fixed;
  top: 90px;
  left: 250px;
  padding: 40px 20px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  visibility: hidden;
  transition: all ease 0.3s;
  opacity: 0;
}
.modal__block {
  visibility: visible;
  opacity: 1;
  transition: all ease 0.3s;
}
.modal__wrapper {
  margin-left: 50px;
}
.modal__img {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 30px;
  width: 30px;
  height: 30px;
  transition: all ease 0.4s;
}
.modal__img__singin {
  position: absolute;
  right: 20px;
  top: 30px;
  width: 30px;
  height: 30px;
  transition: all ease 0.4s;
  cursor: pointer;
}
.modal__img__singin:hover {
  transform: scale(1.2);
  transition: all ease 0.4s;
}
.modal__img:hover {
  transform: scale(1.2);
  transition: all ease 0.4s;
}
.modal__logo {
  width: 80px;
  height: 20px;
}
.modal__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #0a033c;
  margin-top: 15px;
}
.modal__person {
  width: 332px;
  height: 306px;
  margin-top: 30px;
}
.modul__hr {
  width: 1px;
  height: 500px;
}
.modal__wrap {
  position: relative;
  left: -50px;
  width: 310px;
}
.modal__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #5d5a6f;
}
.modal__line {
  display: inline-block;
  width: 20px;
  height: 1px;
  background: #5d5a6f;
}
.modal__aside {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.modal__google {
  width: 250px;
  height: 50px;
  margin-left: 30px;
}
.modal__input {
  display: flex;
  align-items: center;
  padding-left: 16px;
  background: #ffffff;
  border: 1px solid #dedde4;
  border-radius: 5px;
}
.modal__input img {
  width: 18px;
  height: 18px;
}
.modal__form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #0a033c;
}
.input-modal {
  border: none;
  outline: none;
  padding: 16px;
  width: 300px;
}
.input-modal::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #5d5a6f;
}
.eye__logo {
  height: 18px;
  width: 18px;
  margin-right: 16px;
}
.modal__checkbox-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.modal__checkbox-wrap input:first-of-type {
  width: 17px;
  height: 17px;
}
.modal__checkbox {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #5d5a6f;
  cursor: pointer;
}
.modal__checkbox:hover¡ {
  color: #ff6652;
}
.modal__btn {
  background: #9c4df4;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  transition: all ease 0.2s;
  border: none;
}
.modal__btn:hover {
  box-shadow: 1px 1px 10px 1px #9c4df4;
}
.modal__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5d5a6f;
  text-align: center;
}
.modal__link a {
  color: #9c4df4;
}
.modal__singin {
  height: 80vh;
  width: 70vw;
  background: #ffffff;
  border-radius: 15px;
  z-index: 10000;
  position: fixed;
  top: 90px;
  left: 250px;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
  transition: all ease 0.3s;
  opacity: 0;
}
.modal__aside__block {
  visibility: visible;
  opacity: 1;
  transition: all ease 0.3s;
}
.modal__singin__span {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  margin-left: 54px;
  cursor: pointer;
  color: #5d5a6f;
}
@media only screen and (max-width: 576px) {
  .container {
    width: 90%;
    max-width: 576px;
  }
  .header__logo {
    width: 99px;
    height: 28px;
  }
  .header__menu {
    display: block;
  }
  .header__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    height: 100vh;
    align-items: flex-start;
    background-color: #ebaca3;
    width: 100vw;
    transform: translateY(-1000px);
    transition: all ease 0.5s;
    z-index: 10000;
    margin-top: 10px;
  }
  .crost {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    display: block;
    top: 20px;
  }
  .parag {
    display: none;
  }
  .dropdown {
    display: none;
  }
  .header__vector {
    display: none;
  }
  .header__list a {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
  }
  .header__list a:hover {
    color: white;
  }
  .burger {
    transform: translateY(0);
    transition: all ease 0.5s;
  }
  .header__right {
    display: none;
  }
  .header-burger {
    display: block;
  }
}
